/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: #e8f5ff; /* A light blue background */
  color: #333; /* Dark text for contrast */
  max-width: 100vw;
}

.weather-data {
  padding: 20px;
  margin: 20px auto;
  max-width: 90%;
  box-shadow: 1px 1px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

h2 {
  color: #428bca; /* A pleasant blue */
}

.details {
  margin-top: 20px;
}

/* Search Bar Styles */
.search-form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100vw - 22px);
  padding: 10px;
  border: 1px solid #bababa;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 4px;
}

button {
  background-color: #428bca;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #27547b; /* Slightly darker blue */
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #357ebd; /* Slightly darker blue on hover */
}

.forecast-title {
  margin-left: 1.5rem;
}
.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto; /* Center the container horizontally */
  max-width: 90%;
}
.forecast-item {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff; /* Light theme background */
  box-shadow: 1px 1px 2px 5px rgba(0, 0, 0, 0.2);
  flex: 1 0 200px; /* Ensure a minimum width of 200px, but allow flexibility */
}

.theme-btn {
  margin-top: 10px;
}
/* Media Queries */
.dark-theme {
  background-color: #333; /* Dark background */
  color: #fff; /* Light text for contrast */
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  input[type="text"] {
    background-color: #666; /* Darker input background */
    color: #1e1e1e;
    border-color: #1e1e1e;
  }
  button {
    background-color: #666; /* Darker button color */
    border: 1px solid #1e1e1e;
  }
  button:hover {
    background-color: #555; /* Slightly darker blue on hover */
  }
  .weather-data {
    box-shadow: 1px 1px 2px 5px rgba(255, 255, 255, 0.2);
  }
  .forecast-item {
    background-color: #666; /* Adjust to match your dark theme background */
    box-shadow: 1px 1px 2px 5px rgba(255, 255, 255, 0.2);
  }
}

/* Target small screens */
@media (max-width: 600px) {
  body {
    width: 98vw;
    display: flex;
    justify-content: center;
  }

  .weather-data {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
  }

  .details {
    margin-top: 0; /* Remove spacing on top for vertical layout */
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap if necessary */
    justify-content: space-around; /* Distribute items evenly */
  }

  .details p {
    width: 48%; /* Give each detail item some space */
    margin-bottom: 10px; /* Spacing between items */
  }

  input[type="text"] {
    width: 95%;
    padding: none;
    margin-top: 10px;
  }
}
